#root {
}

p{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
body{
  margin: 20px;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.text{
  font-weight: 400;
  color: #696F79;
  font-size: 16px;
}

.card-container{
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}
.card{
  background-color: #FFFFFF;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
}
.numbers{
  font-weight: 600;
  font-size: 32px;
  margin-top: 20px;
}
.invoiceContainer{
  padding: 100px;
  border: 1px dotted #2F80ED;
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
  align-content: center;
  width:50%
}